auth_util==0.1.1
datasets==2.20.0
Django==4.1.5
djangorestframework==3.14.0
langchain==0.2.9
langchain_community==0.2.7
mysql_connector_repackaged==0.3.1
numpy==2.0.0
pandas==2.2.2
python_docx==1.1.2
Requests==2.32.3
scikit_learn==1.4.2
torch==2.3.0
torch_geometric==2.5.3
tqdm==4.66.4
transformers==4.41.2
